body {
	overflow-x: hidden;
}

.header-logo {
	padding-top: 3rem;
	padding-bottom: 3.5rem;
}

.hero-banner-img {
	margin-bottom: 3rem;
}

.hero-header {
	padding-bottom: 1.5rem;
}

.hero-copy {
	padding-bottom: 2rem;
}

.hero-btn-layout {
	padding-bottom: 4rem;
	display: grid;
	gap: 1.25rem;
	justify-content: center;

	button {
		margin: 0 auto;
	}
}

.step1 .step-indicator {
	padding-bottom: 4rem;
}
.step2 .step-indicator {
	padding-bottom: 0;
}

.desktop-header {
	display: none;
	padding-bottom: 6.875rem;
}

.usp-images {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 0 1 15%;
	gap: 1rem;
	padding-bottom: 4rem;

	img {
		width: 45%;
		/* max-width: 270px; */
		/* max-width: 252px; */
		/* width at 1/2 for mobile */
		/* width at 1/4 for tablet+ */

		border-radius: 16px;
	}
}

.img-set {
	background-color: blue;
	display: flex;
	gap: 1rem;
}

.step1-content {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 4rem;
	width: 87.2%;
	max-width: 573px;
}

.step2-layout {
	text-align: center;
	margin: 0 1.5rem;
	padding-bottom: 4.5rem;
}

.step2-heading {
	padding-top: 5.25rem;
	padding-bottom: 1.5rem;
}

.step2-copy {
	padding-bottom: 2rem;
	max-width: 573px;
	margin: 0 auto;
}

.mobile-header {
	overflow: hidden;
	img {
		width: 110%;
		max-width: 110%;
		height: 100%;
		transform: translateX(-5%);
	}
}

/* Media Queries */

@media (min-width: 768px) {
	.header-logo {
		/* padding: var(--space_four); */
		padding-bottom: 4rem;
	}
	.hero-banner-img {
		padding-bottom: 4.5rem;
	}
	.hero-btn-layout {
		display: flex;
		gap: 1rem;
		width: fit-content;
		margin: 0 auto;
		padding-bottom: 5rem;
	}
	.step1 .step-indicator {
		padding-bottom: 4.1875rem;
	}
	.usp-images {
		flex-wrap: nowrap;
		padding-bottom: 3rem;
		img {
			width: 20%;
		}
	}
}

@media (min-width: 1440px) {
	.header-logo {
		padding-top: 5rem;
		padding-bottom: 6.875rem;
	}
	.mobile-header {
		display: none;
	}
	.desktop-header {
		display: flex;
		place-content: center;
		place-items: center;
		.hero-content {
			padding-top: 1.5rem;
		}
		.hero-btn-layout {
			padding-bottom: 0.438rem;
		}
		.hero-header {
			padding-bottom: 2rem;
		}
	}
	.hero-banner-img {
		padding-bottom: 0;
		margin-bottom: 3rem;
	}
	.step1-content {
		max-width: 504px;
	}
	.step1-copy {
		font-size: var(--size_action);
	}

	.step2-heading {
		padding-top: 0;
		padding-bottom: 0;
	}
	.step2-content {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		height: 100%;
		padding-bottom: 0;
	}
	.step2-btn {
		height: fit-content;
		padding-bottom: 0;
	}
	.step2-layout {
		display: flex;
		width: 85%;
		max-width: 1100px;
		height: fit-content;
		/* align-items: ; */
		justify-content: space-between;
    align-items: center;
		padding-bottom: 0;
		/* padding: 4.75rem; */
    margin: 7.25rem 0 6.5rem 0;
    .step2-copy {
      padding-bottom: 0;
    }
	}
}
