:root {
  /* variables */
  /* color names from https://colors.artyclick.com/color-name-finder/ */
  /* USED */
  --color_hippie-blue: 77, 150, 169;
  --color_hippie-blue-active: 113, 192, 212;
  --color_hippie-blue-opaque: 113, 192, 212, 0.5;
  --color_deep-lavander: 133, 95, 177;
  --color_deep-lavander-active: 176, 139, 221;
  --color_ebony-clay: 40, 40, 61;
  --color_oslo-grey: 135, 135, 157;
  --color_columbia-blue: 143, 227, 249;
  --color_light-violet: 217, 184, 255;
  --color_alabaster: 250, 250, 250;

  /* USED */
  --font: "Red Hat Display", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  /* Unused so far, but check with ctrl-shift-f before deleting */
  --size_heading1-mobile: 4.4rem;
  --size_heading1-tablet: 4.8rem;
  --size_heading1-desktop: 6.4rem;
  --size_heading2-sm: 3.2rem;
  --size_heading2-lrg: 4rem;
  --size_body-sm: 1.6rem;
  --size_body-lrg: 1.8rem;

  --size_mob-heading1: 2.5rem;
  --size_mob-heading2: 2rem;
  --size_tab-heading1: 3rem;
  --size_tab-heading2: 2.5rem;
  --size_dsk-heading1: 4rem;
  --size_dsk-heading2: 2.5rem;

  --size_mob-copy: 1rem;
  --size_tab-copy: 1rem;
  --size_dsk-copy: 1.088rem;
  --size_action: 1.088rem;
  
  /* Used */
  --size_copy: 1rem;

  /* spacers */

  --spacer_gap: 1;
  --space_four: 4rem;
}
